html,
body {
    height: 100%;
}

body {
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    padding: 2em;
    align-items: center;
    margin: 2em;
}

a {
    display: flex;
}

img {
    display: flex;
    margin-left: 12em;
    margin-bottom: 2em;
    padding: 1em;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 550px;
    height: 100%;
}

a:hover {
    cursor: pointer;
}